{% extends 'users/base.html' %}

{% block content %}
  <div class="container">
    <h3 class="mt-3">Employees</h3><hr>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee</th>
      <th scope="col">Assigned Projects</th>
    </tr>
  </thead>
  <!-- <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ user|upper }}</td> 
      {% for x in user.project.all %}     
      <td>{{x.project_name}}</td>
      {% endfor %}      
    </tr>
    {% endfor %}
  </tbody> -->
  <tbody>
    {% for project in projects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ project.assign|upper }}</td>         
      <td>{{project.project_name}}</td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock content %}