{% extends 'projects/base.html' %} 
{% block title %} Create New Project {% endblock title %} 

{% block content %}
<div class="container animated fadeIn mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card-group">
        <div class="card p-4 mb-5">
          <div class="card-body">
            {% if created %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Congratulations, your project was created!
            </div>
            {% endif %} 
            {% csrf_token %}
            <h1>Projects</h1>
            <p class="text-muted">Create your projects here</p>

            <form action="" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label class="col-form-label">Project Name</label>
                <div class="input-group">
                    {{ form.project_name }}
                </div>    
                    {% if form.project_name.errors %}
                        <ol>
                        {% for error in form.project_name.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>
              <div class="form-group">
                <label class="col-form-label">Description</label>
                <div class="input-group">
                  {{ form.description }}
                </div>

                {% if form.description.errors %}
                <ol>
                  {% for error in form.description.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
                {% endif %}
              </div>
              <div class="form-group">
                <label class="col-form-label">End Date (YYYY-MM-DD)</label>
                <div class="input-group">
                  {{ form.end_date }}
                </div>

                {% if form.end_date.errors %}
                <ol>
                  {% for error in form.end_date.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ol>
                {% endif %}
              </div> 
              <div class="form-group">
                <label class="col-form-label"
                  >Assign. <i>Crtl+click for multiple selection</i></label
                >
                <div class="input-group">
                  {{ form.assign }} {% if form.assign.errors %}
                  <ol>
                    {% for error in form.assign.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                  </ol>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Status</label>
                <div class="input-group">
                  {{ form.status }} {% if form.status.errors %}
                  <ol>
                    {% for error in form.status.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                  </ol>
                  {% endif %}
                </div>
              </div>
               <div class="">
                <button type="submit" class="btn btn-sm btn-success"> Submit </button>
                <button type="reset" class="btn btn-sm btn-danger"> Reset </button>
              </div>
            </form>
            {{ form.errors }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}