{% extends 'projects/base.html' %}

{% block title %} Project List {% endblock title %}

{% block content %}
    <div class="container">
      {% if projects_new %}
        <h3 class="mt-3">Projects - New</h3><hr>
        {% for project in projects_new %}
            <div class="card mt-2">
              <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'project-detail' project.id %}" class="text-decoration-none">{{ project.project_name }}</a>
                      {% if project.status == '1' %}
                        <span class="badge badge-secondary">New</span>
                      {% elif project.status == '2' %}
                        <span class="badge badge-secondary">In Progress</span>
                      {% elif project.status == '3' %}
                        <span class="badge badge-secondary">Completed</span>
                      {% else %}
                        <span class="badge badge-secondary">Cancelled</span>
                      {% endif %}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Deadline : {{ project.end_date }}</h6>
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text"><small class="text-muted">Responsible Person : {{ project.assign.all|join:', '|upper }}</small></p>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'project-update' project.id %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'project-delete' project.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if projects_progress %}
        <h3 class="mt-3">Projects - In Progress</h3><hr>
        {% for project in projects_progress %}
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'project-detail' project.id %}" class="text-decoration-none">{{ project.project_name }}</a>
                      {% if project.status == '1' %}
                        <span class="badge badge-secondary">New</span>
                      {% elif project.status == '2' %}
                        <span class="badge badge-secondary">In Progress</span>
                      {% elif project.status == '3' %}
                        <span class="badge badge-secondary">Completed</span>
                      {% else %}
                        <span class="badge badge-secondary">Cancelled</span>
                      {% endif %}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Deadline : {{ project.end_date }}</h6>
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text"><small class="text-muted">Responsible Person : {{ project.assign.all|join:', '|upper }}</small></p>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'project-update' project.id %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'project-delete' project.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if projects_completed %}
        <h3 class="mt-3">Projects - Completed</h3><hr>
        {% for project in projects_completed %}
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'project-detail' project.id %}" class="text-decoration-none">{{ project.project_name }}</a>
                      {% if project.status == '1' %}
                        <span class="badge badge-secondary">New</span>
                      {% elif project.status == '2' %}
                        <span class="badge badge-secondary">In Progress</span>
                      {% elif project.status == '3' %}
                        <span class="badge badge-secondary">Completed</span>
                      {% else %}
                        <span class="badge badge-secondary">Cancelled</span>
                      {% endif %}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Deadline : {{ project.end_date }}</h6>
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text"><small class="text-muted">Responsible Person : {{ project.assign.all|join:', '|upper }}</small></p>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'project-update' project.id %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'project-delete' project.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if projects_cancelled %}
        <h3 class="mt-3">Projects - Cancelled</h3><hr>
        {% for project in projects_cancelled %}
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'project-detail' project.id %}" class="text-decoration-none">{{ project.project_name }}</a>
                      {% if project.status == '1' %}
                        <span class="badge badge-secondary">New</span>
                      {% elif project.status == '2' %}
                        <span class="badge badge-secondary">In Progress</span>
                      {% elif project.status == '3' %}
                        <span class="badge badge-secondary">Completed</span>
                      {% else %}
                        <span class="badge badge-secondary">Cancelled</span>
                      {% endif %}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Deadline : {{ project.end_date }}</h6>
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text"><small class="text-muted">Responsible Person : {{ project.assign.all|join:', '|upper }}</small></p>
                  {% if request.user.is_superuser %}
                  <a href="{% url 'project-update' project.id %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'project-delete' project.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock content %}